body {
  margin: 0px;
  padding: 0px;
}

/* Navigation*/
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #585858;
}

.right_side {
  margin-top: 15px;
  display: flex;
}

.nav > .right_side > div {
  margin-left: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav_link {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.home {
  height: 22px;
  border-bottom: 1px solid white;
}

.home a {
  text-decoration: none;
  color: white !important;
}

.name {
  color: #cecef6;
  font-size: 15px;
}

.nav_link a {
  color: #cecef6;
  text-decoration: none;
  transition: color 0.5s;
}

.nav_link:hover {
  border-bottom: 1px solid white;
}

.nav_link a:hover {
  color: white;
}

/* Content main page*/
.slider {
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 90vh;
}

.slider figure {
  position: relative;
  width: 500%;
  height: 100%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

.slider figure img {
  height: 100%;
  width: 20%;
  float: left;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.top_text {
  position: absolute;
  top: 150px;
  color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15%;
  left: 0%;
  right: 0%;
  transition: 0.5s;
}

.top_title {
  font-size: 40px;
  margin-top: 0px;
}

.top_subtitle {
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.top:hover .top_text {
  font-weight: 500;
  color: #cecef6;
  transition: 0.5s;
}

img {
  transition: 1s;
}

.top:hover img {
  transition: 1s;
  filter: brightness(40%);
}

/*Mid of the homepage*/
.mid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #424242;
}

.mid_title {
  font-size: 30px;
  text-align: center;
}

.mid_text {
  text-align: justify;
  margin: 10px;
}

.mid_item1 {
  margin: 35px;
  color: #a9a9f5;
  background-color: #6e6e6e;
}

.mid_item2 {
  margin: 35px;
  color: #a9a9f5;
  background-color: #6e6e6e;
}

.mid_item3 {
  margin: 35px;
  color: #a9a9f5;
  background-color: #6e6e6e;
}

/* Bottom */

.bottom {
  background-color: #424242;
  display: flex;
  justify-content: space-between;
  color: white;
}

.impressum {
  font-size: 13px;
  margin-left: 10px;
}

.creator {
  font-size: 11px;
  color: white;
  display: flex;
  text-align: right;
}

/*Local page*/

.local_mid {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0px;
  background-color: #424242;
}

.local_mid img {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.local_mid_title {
  font-size: 30px;
  text-align: center;
  margin: 20px;
}

.local_mid_subtitle {
  margin: 20px;
}

.local_item1 {
  display: flex;
  margin: 7%;
  float: left;
  margin-bottom: 0px;
  margin-top: 0px;
}

.local_item1 .local_mid_text {
  float: right;
}

.local_item2 {
  display: flex;
  margin: 7%;
  float: right;
  margin-bottom: 0px;
  margin-top: 0px;
}

.local_item2 .local_mid_text {
  float: left;
}

.local_mid_text {
  text-align: justify;
  margin: 0px;
  color: #a9a9f5;
  background-color: #6e6e6e;
}

.local-map {
  background-color: #424242;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.local-description {
  color: white;
  background-color: #6e6e6e;
  margin: 50px;
}

#local-mapid {
  height: 50vh;
  width: 50vw;
  margin: 50px;
}

/*Flat*/

.flat_mid {
  background-color: #424242;
}

.flat_title {
  color: #a9a9f5;
  font-size: 40px;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.gallery img {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/*Contact page*/
.location-map {
  background-color: #424242;
  margin: auto;
  padding: 5%;
  display: flex;
  justify-content: space-between;
}

.location-description {
  color: white;
  background-color: #6e6e6e;
  width: 50%;
  height: 50vh;
}

#mapid {
  height: 50vh;
  width: 50%;
}

.form-wrapper {
  margin: 0;
  padding: 0;
  background-color: #424242;
  width: 100%;
}

.form {
  color: #cecef6;
  background-color: #6e6e6e;
  width: 90%;
  margin: auto;
}

.form-finish button {
  background-color: #cecef6;
  color: #424242;
  border: none;
  outline: none;
  cursor: pointer;
  width: 10vw;
  height: 30px;
}

/*Calendar*/
.calendar {
  background-color: #424242;
  padding-bottom: 50px;
}

.wrapper {
  margin: auto;
  width: 90%;
  color: #cecef6;
}

.container-calendar {
  background: #6e6e6e;
  padding: 15px;
  margin: 0 auto;
  overflow: auto;
}

.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #cecef6;
  color: #000000;
  border: 1px solid #cecef6;
  border-radius: 4px;
  padding: 5px 10px;
}

.table-calendar {
  border-collapse: collapse;
  width: 100%;
}

.table-calendar td,
.table-calendar th {
  padding: 5px;
  border: 1px solid #ffffff;
  text-align: center;
  vertical-align: top;
}

.date-picker.selected {
  font-weight: bold;
  background-color: rgba(189, 189, 252, 0.5);
  color: white;
}

.date-picker.selected span {
  border-bottom: 2px solid currentColor;
}

#monthAndYear {
  text-align: center;
  margin-top: 0;
}

.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}

#previous {
  float: left;
}

#next {
  float: right;
}

.booked {
  background-color: rgba(143, 0, 0, 0.5);
  color: white;
}
